{% extends "bbqplanner/base.html" %}
{% block title %}BBQ Planner | Register{% endblock %}
{% block content %}
<section class="hero is-success is-fullheight bg-img">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <h3 class="title has-text-grey">
            You have successfully been registerd for the BBQ!
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
